body {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #272727;
}

code {
  font-family: "IBM Plex Mono", monospace;
  color: #4d4d4d;
}

.text-mono {
  font-family: "IBM Plex Mono", monospace;
}

/* 
Raisin Black #272727
Trident Red #cc4125
Light Blue #afd3e7
Independence #4A4E69
Deep Lemon #F3B61F
 */
